.App-header {
  ul {
    margin: 0;
    padding: 0;
    margin-top: 20px;

    li {
      display: inline-block;

      a {
        padding: 20px;
        background: #fff;
        margin: 3px;

      }
    }
  }
}