.ExpensesListItem {
  text-align: left;
  position: relative;

  &:hover {
    .deleteExpense {
      opacity: 1;
    }
  }

  .expenseListItemHeader {
    background: #fff;
    border-bottom: solid 1px #ccc;
  }

  .deleteExpense {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.5s ease-out;

  }
}