@import url(~antd/dist/antd.css);
a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background: #f5f5f5; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

.text-center {
  text-align: center; }
